aiohttp>=2.2.5
heroku3
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
Python_ARQ
currencyconverter
emoji
feedparser
future
git+https://github.com/Itz-fork/py-trans.git
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
markdown2
multicolorcaptcha
pillow>=4.2.0
psutil
psycopg2-binary
pyYAML>=5.1.2
pyrate-limiter
python-telegram-bot==13.11
requests
spamwatch
speedtest-cli
sqlalchemy
ujson
pycryptodome
base58
pytimeparse
Tgcrypto
pyrogram==1.4.15
telethon 
motor
odmantic
telegraph
pymongo[srv]
opencv-python-headless
googletrans==3.1.0a0
gpytranslate==1.4.0
